# Análise dos Crimes no Estado de São Paulo

## Abaixo faço a Análise inicial do boletim de ocorrência dos últimos 10 anos do estado de São Paulo 

* Verificação de informação das colunas;
* Verificação da qualidade dos Dados;
* Primeiros insights;

In [1]:
import pandas as pd

In [2]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/1ae7h2l9lvb1vapjwv9p1oga5', encoding = 'latin1')

/home/anderson/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (19,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,NUM_BO,ANO_BO,ID_DELEGACIA,NOME_DEPARTAMENTO,NOME_SECCIONAL,DELEGACIA,NOME_DEPARTAMENTO_CIRC,NOME_SECCIONAL_CIRC,NOME_DELEGACIA_CIRC,ANO,...,RUBRICA,DESDOBRAMENTO,CONDUTA,LATITUDE,LONGITUDE,CIDADE,LOGRADOURO,NUMERO_LOGRADOURO,FLAG_STATUS.1,Unnamed: 21
0,3784,2016,10101,DECAP,DEL.SEC.1Âº CENTRO,01Âº D.P. SE,DECAP,DEL.SEC.1Âº CENTRO,78Âº D.P. JARDINS,2016,...,Furto (art. 155),NaN,TRANSEUNTE,-23.564984,-46.652035,S.PAULO,AVENIDA PAULISTA,1000,C,NaN
1,3426,2016,10102,DECAP,DEL.SEC.1Âº CENTRO,02Âº D.P. BOM RETIRO,DECAP,DEL.SEC.1Âº CENTRO,03Âº D.P. CAMPOS ELISEOS,2016,...,Roubo (art. 157),NaN,TRANSEUNTE,-23.542476,-46.641928,S.PAULO,PRAÃA DA REPUBLICA,0,C,NaN
2,6359,2016,10102,DECAP,DEL.SEC.1Âº CENTRO,02Âº D.P. BOM RETIRO,DECAP,DEL.SEC.1Âº CENTRO,03Âº D.P. CAMPOS ELISEOS,2016,...,Drogas sem autorizaÃ§Ã£o ou em desacordo (Art....,NaN,NaN,-23.542183,-46.640599,S.PAULO,RUA CONSELHEIRO NEBIAS,0,C,NaN
3,1267,2016,10103,DECAP,DEL.SEC.1Âº CENTRO,03Âº D.P. CAMPOS ELISEOS,DECAP,DEL.SEC.8Âº SAO MATEUS,49Âº D.P. SAO MATEUS,2016,...,Roubo (art. 157),NaN,CARGA,-23.609275,-46.455087,S.PAULO,RUA MADUREIRA CALHEIROS,15,C,NaN
4,4804,2016,10106,DECAP,DEL.SEC.1Âº CENTRO,06Âº D.P. CAMBUCI,DECAP,DEL.SEC.1Âº CENTRO,06Âº D.P. CAMBUCI,2016,...,LesÃ£o corporal (art. 129),NaN,NaN,-23.573928,-46.620693,S.PAULO,RUA ROBERTSON,625,C,NaN

In [4]:
#Verificando tipo dados das colunas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 774662 entries, 0 to 774661
Data columns (total 22 columns):
NUM_BO                    774662 non-null int64
ANO_BO                    774662 non-null int64
ID_DELEGACIA              774662 non-null int64
NOME_DEPARTAMENTO         774662 non-null object
NOME_SECCIONAL            774662 non-null object
DELEGACIA                 774662 non-null object
NOME_DEPARTAMENTO_CIRC    774662 non-null object
NOME_SECCIONAL_CIRC       774662 non-null object
NOME_DELEGACIA_CIRC       774662 non-null object
ANO                       774662 non-null int64
MES                       774662 non-null int64
FLAG_STATUS               774662 non-null object
RUBRICA                   774662 non-null object
DESDOBRAMENTO             30092 non-null object
CONDUTA                   658523 non-null object
LATITUDE                  731960 non-null float64
LONGITUDE                 731959 non-null float64
CIDADE                    774662 non-null object
LOGRADOURO                774660 non-null object
NUMERO_LOGRADOURO         774337 non-null object
FLAG_STATUS.1             774662 non-null object
Unnamed: 21               24 non-null object
dtypes: float64(2), int64(5), object(15)
memory usage: 130.0+ MB

In [5]:
#Sera que temos boletins inclusive desse ano ? 
df['ANO_BO'].max()

2017

In [6]:
#Verificando variáveis que podem conter tipos de crimes
df['RUBRICA'].head()

0                                     Furto (art. 155)
1                                     Roubo (art. 157)
2    Drogas sem autorizaÃ§Ã£o ou em desacordo (Art....
3                                     Roubo (art. 157)
4                           LesÃ£o corporal (art. 129)
Name: RUBRICA, dtype: object

In [7]:
#Excelente, vamos quer quantos tipos de crimes diferentes temos aqui registrados :
df['RUBRICA'].nunique()

39

In [8]:
#E agora vamos ver quais são
df['RUBRICA'].unique()

array(['Furto (art. 155)', 'Roubo (art. 157)',
       'Drogas sem autorizaÃ§Ã£o ou em desacordo (Art.33, caput)',
       'LesÃ£o corporal (art. 129)', 'Furto qualificado (art. 155, Â§4o.)',
       'LesÃ£o corporal culposa na direÃ§Ã£o de veÃ\xadculo automotor (Art. 303)',
       'LesÃ£o corporal (art 129 Â§ 9Âº)',
       'A.I.-LesÃ£o corporal (art. 129)', 'A.I.-Roubo (art. 157)',
       'A.I.-Furto (art. 155)',
       'A.I.-Drogas sem autorizaÃ§Ã£o ou em desacordo (Art.33, caput)',
       'A.I.-Porte de entorpecente (Art. 16)',
       'Estupro de vulneravel (art.217-A)',
       'LesÃ£o corporal culposa (art. 129. Â§6o.)',
       'HomicÃ\xaddio qualificado (art. 121, Â§2o.)',
       'HomicÃ\xaddio simples (art. 121)',
       'A.I.-Estupro de vulneravel (art.217-A)',
       'HomicÃ\xaddio culposo na direÃ§Ã£o de veÃ\xadculo automotor (Art. 302)',
       'A.I.-Furto qualificado (art. 155, Â§4o.)', 'Estupro (art.213)',
       'Oferecer droga a pessoa de seu relacionamento (Art.33,Â§3Âº)',
       'A.I.-LesÃ£o corporal culposa na direÃ§Ã£o de veÃ\xadculo automotor (Art. 303)',
       'LesÃ£o corporal de natureza GRAVE (art. 129, Â§1o.)',
       'A.I.-HomicÃ\xaddio simples (art. 121)',
       'LesÃ£o corporal seguida de morte (art. 129, Â§3o.)',
       'A.I.-LesÃ£o corporal culposa (art. 129. Â§6o.)',
       'A.I.-Oferecer droga a pessoa de seu relacionamento (Art.33,Â§3Âº)',
       'A.I.-LesÃ£o corporal de natureza GRAVE (art. 129, Â§1o.)',
       'A.I.-LesÃ£o corporal (art 129 Â§ 9Âº)',
       'Furto de coisa comum (art. 156)',
       'HomicÃ\xaddio culposo (art. 121, Â§3o.)',
       'A.I.-HomicÃ\xaddio qualificado (art. 121, Â§2o.)',
       'A.I.-TrÃ¡fico de entorpecente (Art. 12)',
       'A.I.-HomicÃ\xaddio culposo na direÃ§Ã£o de veÃ\xadculo automotor (Art. 302)',
       'Induzir, instigar ou auxiliar alguÃ©m ao uso indevido de droga(Art.33,Â§2Âº)',
       "LesÃ£o corporal  de natureza 'GRAVÃ\x8dSSIMA' (art. 129, Â§2o.)",
       'A.I.-HomicÃ\xaddio culposo (art. 121, Â§3o.)',
       "A.I.-LesÃ£o corporal  de natureza 'GRAVÃ\x8dSSIMA' (art. 129, Â§2o.)",
       'A.I.-Furto de coisa comum (art. 156)'], dtype=object)

### Sempre tive interesse em investigar todos os crimes diretamente ligados ao tráfico de drogas. Acima posso ver quais são esses.

In [9]:
artigo_12 = df[df['RUBRICA']== 'TrÃ¡fico de entorpecente (Art. 12)']

In [10]:
artigo_12.head()

Empty DataFrame
Columns: [NUM_BO, ANO_BO, ID_DELEGACIA, NOME_DEPARTAMENTO, NOME_SECCIONAL, DELEGACIA, NOME_DEPARTAMENTO_CIRC, NOME_SECCIONAL_CIRC, NOME_DELEGACIA_CIRC, ANO, MES, FLAG_STATUS, RUBRICA, DESDOBRAMENTO, CONDUTA, LATITUDE, LONGITUDE, CIDADE, LOGRADOURO, NUMERO_LOGRADOURO, FLAG_STATUS.1, Unnamed: 21]
Index: []

[0 rows x 22 columns]

In [11]:
#Vendo as características do novo dataframe
artigo_12.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 22 columns):
NUM_BO                    0 non-null int64
ANO_BO                    0 non-null int64
ID_DELEGACIA              0 non-null int64
NOME_DEPARTAMENTO         0 non-null object
NOME_SECCIONAL            0 non-null object
DELEGACIA                 0 non-null object
NOME_DEPARTAMENTO_CIRC    0 non-null object
NOME_SECCIONAL_CIRC       0 non-null object
NOME_DELEGACIA_CIRC       0 non-null object
ANO                       0 non-null int64
MES                       0 non-null int64
FLAG_STATUS               0 non-null object
RUBRICA                   0 non-null object
DESDOBRAMENTO             0 non-null object
CONDUTA                   0 non-null object
LATITUDE                  0 non-null float64
LONGITUDE                 0 non-null float64
CIDADE                    0 non-null object
LOGRADOURO                0 non-null object
NUMERO_LOGRADOURO         0 non-null object
FLAG_STATUS.1             0 non-null object
Unnamed: 21               0 non-null object
dtypes: float64(2), int64(5), object(15)
memory usage: 0.0+ bytes

In [12]:
artigo_12['DESDOBRAMENTO'].nunique()

0

In [13]:
artigo_12

Empty DataFrame
Columns: [NUM_BO, ANO_BO, ID_DELEGACIA, NOME_DEPARTAMENTO, NOME_SECCIONAL, DELEGACIA, NOME_DEPARTAMENTO_CIRC, NOME_SECCIONAL_CIRC, NOME_DELEGACIA_CIRC, ANO, MES, FLAG_STATUS, RUBRICA, DESDOBRAMENTO, CONDUTA, LATITUDE, LONGITUDE, CIDADE, LOGRADOURO, NUMERO_LOGRADOURO, FLAG_STATUS.1, Unnamed: 21]
Index: []

[0 rows x 22 columns]

In [14]:
artigo_12['ANO_BO'].max()

nan